{
	{$CERTS}
	{$DEBUG}

	order cache before rewrite

	log {
		level debug
		include http.log.access http.handlers.cache
	}

	cache {
		log_level debug
		import {$CACHE}
	}
}

:80 {
	cache
	log
	reverse_proxy app:80
}
